doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title  JS File Reader 
  body
    input(type='file')
    script(src='javascripts/fileReader.js', charset='utf-8')
    #{title}
     a(href='logout') Logout 
     
    if fr
      each friend in fr
        p. 
        a(href=`/profile?id=${friend.users}`) #{friend.users}
    if pics
      each picture in pics
        if picture.public_pic 
          img(src='/images/' + picture.user + '/' + picture.file_path alt="", style='width:500px;heigth:600px', align='right')
        else
          img(src='/private/images/' + picture.user + '/' + picture.file_path , alt="", style='width:500px;heigth:600px', align='right')
        