doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title  JS File Reader 
  body
    input(type='file')
    script(src='javascripts/fileReader.js', charset='utf-8')
    #{title}
    each friend in fr
      p. 
      a(href=`/profile?id=${friend.users}`) #{friend.users}
      //- a(href=`/profile?id=${friend.users}`) 
