doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title  PhotoRest 
  body
 
    div=title
    //- a(href='logout') Logout 
    
    //- input(type='file')
    //- script(src='javascripts/fileReader.js', charset='utf-8')
    if pics
      //- div=pics[0].user
      if displayLogout
        a(href='logout') Logout 
    if fri
      each friend in fri
        p. 
        a(href=`/profile?id=${friend.uid}`) #{friend.full_name}
    if pics
      each picture in pics
        if picture.public_pic 
          img(src='/images/' + picture.user + '/' + picture.file_path alt="", style='width:500px;heigth:600px', align='right')
        else
          img(src='/private/images/' + picture.user + '/' + picture.file_path , alt="", style='width:500px;heigth:600px', align='right')
        
          