doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title  JS File Reader 
  body
    //- #{title}
    //- a(href='logout') Logout 
    
    //- input(type='file')
    //- script(src='javascripts/fileReader.js', charset='utf-8')
    div=pro.user
    each friend in fri
      p. 
      a(href=`/profile?id=${friend.users}`) #{friend.users}
