/* Demo site CSS. Not mobile first, not semantic, not optimized, made for 20 minutes, mess */

* {
    box-sizing: border-box;
}
html, body, div, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    line-height: 1;
}


.container {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin: 5px;
    justify-content: flex-start;
}

.container img {
    margin: 5px;

}



.grid-container {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 10px;
    background-color: white;
    padding: 10px;
    /* grid-template-rows: auto 1fr;
    height: 100vh; */
  }
  
  .grid-container > div {
    background-color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  
  .item1 {
    grid-column: 1 / span 2;
  }
  
  .item2 {
    grid-column: 1;
     /* word-break: break-all; */
    word-wrap: break-word;
   
  }
  
  
  .item3 {
    grid-column: 2;
    word-wrap: break-word;
  
  }
  
  .fr-list
  {
  font-size: small;
      margin-left:0;
      padding-left:0;
  }
  
  .fr-list > li{
  list-style-type: none;
  }
  
  @media screen and (max-width: 400px){
      .item1{
          grid-column-end: span 2;
      }
  
      .item2{
          grid-column-end: span 2;
      }
     
      .item3{
          grid-column: 1;
          grid-column-end: span 2;
  
      }
  
  
  }

/*   
  body{
    margin: 0;
    background: whitesmoke;
} */

/* header{
    margin: .5vw;
    font-size: 0;
    display: -ms-flexbox;
    -ms-flexbox-wrap: wrap;
    -ms-flexbox-direction: column;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    display: -webkit-box;
    display: flex;
}

header a{
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
    width: 200px;
    margin: .5vw;
}

header a img{
    float:  left;
    width:  200px;
    height: auto;
    background-size: cover;
}

.responsive {
    max-width: 300px;
    max-height: auto;
  }

@media screen and (max-width: 400px){
    header a{
        margin: 0;
    }
   
    header{
        padding: 0;
    }
} */

  
  
  
  